.App {
   /* text-align: center; */
   width: 100vw;
   height: 100vh;
   background-image: URL('/Users/nachogomez/Downloads/Integrador M2/client/src/images/812062.png');
   background-position:50% ,50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   overflow: auto;
}

