.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  width: calc(25% - 20px); /* Ajusta el ancho de la tarjeta según tus necesidades */
  margin: 10px;
  /* Otros estilos de diseño de la tarjeta */
}

.card.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajusta el estilo de superposición según tus necesidades */
  z-index: 1;
}



